* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background-color: #eff3ff;
}

.container {
    max-width: 350px;
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
}

.card {
    width: 100%;
    padding: 30px 20px;
    box-shadow: 0 20px 30px rgba(0, 0, 0, 0.15);
    border-radius: 10px;
    background: radial-gradient(circle at 50% 0%, #fed330 36%, #ffffff 36%);
}

.card img {
    display: block;
    width: 180px;
    max-height: 200px;
    position: relative;
    margin: 20px auto;
}

.hp {
    width: 80px;
    background-color: #fff;
    text-align: center;
    padding: 8px 0;
    margin-left: auto;
    font-weight: 400;
}

.name__pkm {
    text-align: center;
    font-weight: 600;
}

.types {
    display: flex;
    justify-content: space-around;
    margin: 20px 0 40px 0;
}

.types span:first-child {
    border-radius: 50px;
    background-color: #fed330;
    color: #fff;
    font-weight: bold;
}

.hp span,
.types span {
    font-size: 12px;
    letter-spacing: 0.4px;
    font-weight: 600;
}

.types span {
    padding: 5px 20px;
}

.stats {
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-align: center;
}

.stats p {
    color: #404060;
}

.input__button {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    text-align: centera;
}

#input__pkm {
    border: none;
    border-bottom: 2px solid #202124;
    background-color: transparent;
    outline: none;
    padding: 0 5px;
}

#btn {
    background-color: #3498db;
    color: #fff;
    border: none;
    padding: 10px;
    font-weight: bold;
    cursor: pointer;
    border-radius: 0 5px 5px 0;
}

#btn:hover {
    background-color: #2980b9;
}